menu "Prometheus Exporter"

    config PROMETHEUS_HOSTNAME
        string "Hostname"
        default "esp-airsensor"
        help
            Device's hostname for networking. Maximum length 32 bytes.

    config PROMETHEUS_WIFI_SSID
        string "Wi-Fi SSID"
        help
            SSID of target AP. Maximum length 32 bytes.

    config PROMETHEUS_WIFI_PSK
        string "Wi-Fi Password"
        help
            PSK of target AP. Maximum length 64 bytes.

endmenu