menu "OpenMetrics Exporter"

    config METRICS_HOSTNAME
        string "Hostname"
        default "esp-airsensor"
        help
            Device's hostname for networking. Maximum length 32 bytes.

    config METRICS_WIFI_SSID
        string "Wi-Fi SSID"
        help
            SSID of target AP. Maximum length 32 bytes.

    config METRICS_WIFI_PSK
        string "Wi-Fi Password"
        help
            PSK of target AP. Maximum length 64 bytes.

    config METRICS_HTTP_PATH
        string "HTTP Endpoint Path"
        default "/"
        help
            Put exporter on that page.

    config METRICS_MAX_ITEMS
        int "Maximum number of items"
        default 32
        range 1 65535
        help
           Buffer size of metric list in terms of item.

endmenu